.container {
	width: 700px;
	margin: 0 auto;

}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}

.container h3{
  margin-top: 30px;
}

.container h2{
  margin-top: 20px;
  margin-bottom: 20px;
}


.container a{
  margin-right: 9px;
}

.container img{
  margin-top: 20px;
}

